footer{
    margin-top: 5rem;
    padding: 48px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #19211f;
}
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.footer-link{
    text-decoration: none;
    font-size: xx-large;
    color: #f5f1eb;
    transition: color ease-in-out 0.25s;
}
.footer-link:hover{
    color: #ef6a4e;
}
.copyright{
    color: #b9c0ba;
    font-size: .75rem;
    letter-spacing: .08em;
}