.image {
    opacity: 0;
    height: 75%;
    width: 65%;
    transition: opacity 1.3s ease-in;
}
.image.visible {
    opacity: 1;
}
.fade{
    opacity: 0;
    transition: opacity 1.3s ease-in;
}
.fade.visible{
    opacity: 1;
}