@media (min-width: 849px) {
    .navbar-toggler {
        display: none !important;
    }
    .nav-links-container{
        display: block !important;
    }
    .logo-container{
        display: flex;
        flex-direction: row;
    }
    .row-container{
        flex-direction: row;
        display: flex;
        padding: 10px;
        gap: 150px;
    }
    .bio{
        width: 750px;
    }
}
@media(max-width: 500px){
    main{ padding-top: 66px; }
    .navbar{ padding: 12px 16px !important; }
    .background-image{ border-radius: 0 0 18px 18px; }
    .logo-container{ margin: 1.5rem 12px; }
    .intro-image{ box-shadow: none; }
    .main-content{ padding: 56px 20px; }
    .nice-box{
        width: 100vw;
        border-radius: 0;
    }
}